#h{
    position: relative;
    margin: auto;
    height: 440px;
    width: 440px;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour,#minute,#second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 2%;
    height: 25%;
    top: 28%;
    left: 49.4%;
    opacity: 0.8;
}
#minute{
    width: 1.4%;
    height: 32%;
    top: 21%;
    left: 49.6%;
    opacity: 0.8;
}
#second{
    width: 0.8%;
    height: 39%;
    top: 14%;
    left: 50%;
    opacity: 0.8;
    
}